<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chpasswd</servlet-name>
        <servlet-class>servlets.Chpasswd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserRoles</servlet-name>
        <servlet-class>servlets.AdminUserRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsers</servlet-name>
        <servlet-class>servlets.AdminUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EBooksAdministration</servlet-name>
        <servlet-class>servlets.EBooksAdministration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateEBook</servlet-name>
        <servlet-class>servlets.RateEBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EBookInventory</servlet-name>
        <servlet-class>servlets.EBookInventory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chpasswd</servlet-name>
        <url-pattern>/chpasswd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserRoles</servlet-name>
        <url-pattern>/changeUserRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/adminUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EBooksAdministration</servlet-name>
        <url-pattern>/ebooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateEBook</servlet-name>
        <url-pattern>/ratebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EBookInventory</servlet-name>
        <url-pattern>/inventory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
