/*
Copyright gheorgheaurelpacurar
*/
/* 
    Created on : Jan 24, 2018, 12:02:08 PM
    Author     : George
*/

body{
    background-image: url("../img/eBooksStoreBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: "Veranda";
    font-size: 14px;
    color: whitesmoke;
    text-align: center;
}
table{
    background-color: whitesmoke;
    border-spacing: 0 0px;
    border-collapse: collapse;
}
td{
    border-collapse: collapse;
    text-align: center;
    color: black;
    border-color: darkgrey;
    border-style: outset;
    border-width: 1px;
    font-size: 16px;
}
th{
    border-collapse: collapse;
    text-align: center;
    color: black;
    border-color: darkgrey;
    border-style: outset;
    border-width: 1px;
    font-size: 16px;
}
.tablecenteredwithroundborder{
    margin-left:auto; 
    margin-right:auto;
    border-width: 1px;
    border-radius: 5px;
    border-style: none;
    border-color: darkgray;
}
#noborder td{
    text-align: left;
    border-style: none;
}
#logincell td{
    text-align: center;
    background-color: darkslategray;
    color: yellow;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 22px;
}
.inputbeigefield{
    background-color: beige;
    border-width: 1px;
    width: 65%;
    font-size: 12px;
}
.button{
    border-radius: 5px;
    border-width: 1px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px darkgray;
    font-size: 14px;
}
.button:hover{
    background-color: aliceblue;
    border-color: white;
    
}
select{
   background: transparent;
   border-radius: 5px;
   width: 100px;
   padding: 0px;
   font-size: 12px;
   line-height: 1;
   height: 23px;
   outline-style: none;
   font-size: 12px;
}
.rolebutton{
    background-color: #FFFFFF;
    border-radius: 5px;
    border-width: thin;
    outline: none;
    pointer-events: none;
}
.errorpass {
    color: #FF0000;
    display: inline;
    font-size: 12px;
}